@media only screen and (max-width: #{$w__extra}px) {
	.container_extra {
		& > div {
			display: block !important;
			width: ($w__content / $w__total) * 100%;
		}

		img {
			&.img_fluid {
				width: 100% !important;
				height: auto !important;
			}
		}

		.column {
			display: block !important;
			width: (($w__total - $w__gutter_between) / $w__total) * 100% !important;
		}
	}
}

@media only screen and (max-width: #{$w__total}px) {
	table {
		&.responsive {
			width: 100% !important;
			overflow: hidden !important;
		}

		&.center_med {
			display: block;
			float: none;
			margin: 0 auto !important;

			td {
				text-align: center !important;
			}

			img {
				display: inline-block;
			}
		}

		&.txt_center_med {
			td {
				text-align: center !important;
			}
		}
	}

	td {
		&.responsive_margins {
			width: 82% !important;
			overflow: hidden !important;
		}

		&.hide_margin_med {
			width: 0 !important;
			overflow: hidden;

			img {
				width: 0 !important;
			}
		}
	}

	img {
		&.img_fluid {
			width: 100% !important;
			height: auto !important;
		}
	}

	.hide_med {
		display: none !important;
	}

	.container {
		& > div {
			display: block !important;
			width: ($w__content / $w__total) * 100%;
		}
	}

	.column {
		display: block !important;
		padding-right: $w__gutter / 2 / $w__total * 100% !important;
		padding-left: $w__gutter / 2 / $w__total * 100% !important;
		width: (($w__content - $w__gutter_between) / $w__content) * 100% !important;
	}

	.pseudo_table {
		width: (($w__total - (2 * $w__gutter - $w__gutter_between)) / $w__total) * 100% !important;
	}

	.gutterless {
		.pseudo_table {
			width: 100% !important;
		}
	}
}

@media only screen and (max-width: 480px) {
	td {
		&.img_fluid_sml {
			img {
				width: 100% !important;
				height: auto !important;
			}
		}
	}

	.hide_sml {
		display: none !important;
	}
}
