// ================================================== COLORS

$clr__black: #1B2129;
$clr__mono_x_light: #E5E0DE;
$clr__white: #FFFFFF;

$clr__primary: #4053E5;


// ================================================== FONTS

$fnt__sans: Arial, Helvetica, sans-serif;


// ================================================== LAYOUT

