#preheader {
	display: none;
	visibility: hidden;
	font-size: 1px;
	line-height: 1px;
}

// <img> elements are display: inline by default, which results in extra space underneath
.img_fix {
	display: block;
}

.nobr {
	white-space: nowrap;
}
