// ================================================== COLORS

$clr__pseudo_black: #000001;


// ================================================== LAYOUT

// TODO: Manage variables shared between syntaxes in a common location

$w__total: 640;
$w__gutter: 20;
$w__gutter_between: 20;
$w__col_first: 90;
