include variables
include helpers/set
include helpers/table
include modules/gutterless
include modules/oneColumn
include modules/twoColumn
include modules/threeColumn
doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
	include modules/head
	body
		span#preheader #{$.preheader}
		+table(id='body_table' class=$.bodyTableClasses align='center' width='100%')
			tbody
				block body
